<!DOCTYPE html>
<html>
<head>
    <title>Manage Villains</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Manage Villains</h1>
    <a href="/" class="btn btn-secondary mb-3">Back to Home</a>
    <div class="row">
        <% villains.forEach(villain => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= villain.imagePath %>" class="card-img-top" alt="<%= villain.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= villain.name %></h5>
                        <p class="card-text">Age: <%= villain.age %></p>
                        <p class="card-text">Power: <%= villain.power %></p>
                        <a href="/edit-villain/<%= villain.id %>" class="btn btn-primary">Edit</a>
                        <a href="/delete-villain/<%= villain.id %>" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<script src="/main.js"></script>
</body>
</html>
